---
title: home-english
layout: default
ref: home
lang: en
---
<!-- Navigation -->
     <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img class="img-logo" src="../img/bwg.png" alt="logo"></a>
                <div class="logo-text">DATA FOOD CONSORTIUM</div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% for menu in site.t[page.lang] %}
                    <li><a class="page-scroll" href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
                    {% endfor %}
                    
                    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                    {% for page in pages %}
                        <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
                    {% endfor %}
              
                </ul> 
            </div>
            <!-- /.navbar-collapse -->
        </div>
                
        <!-- /.container-fluid -->
    </nav>


    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Developing open data standards <br>for the food system</div>
                <a href="#challenges" class="page-scroll btn btn-xl">Why ?</a>
            </div>
        </div>
           
    </header>



<!-- Services Section -->
    <section id="challenges">
        <div class="container container-tight">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Challenges</h2>

                    <p>
                    With the development of foodtech, <b>more and more services are being managed through digital tools:</b> production monitoring, land management, product catalog management, online sales via e-commerce tools, invoicing, accounting, Etc.</p>

                    <p>Today, <b>all these tools do not use common standards.</b> Food system actors are confronted with the need for multiple data inputs, inventory management problems and many manual operations to compensate for the lack of <b>cross-platform communication.</b>
                    <br>
                    <br>

                        
                            <article class="text-center">
                <h4 class="service-heading">A concrete example </h4>
                <br>

                
  

 





                <p style="font-style: italic ; text-align: left"> 
                A farmer named Dave sells his vegetables to a food hub named <b>"Earth Friends"</b> which has a web platform (website), on which Dave manages his products catalog.
                <br>
                Now imagine that another buying group, <b>"Eastern Farmers"</b> also wants to distribute Dave’s products on its own web platform.
                <br>
                How does Eastern Farmers access Dave’s catalog? Today, the solutions are far from ideal:
                <br>
                1 - Dave must enter the same data on each platform, therefore loosing time and having to manage stocks and orders on different platforms.
                <br> 
                2 - Eastern Farmers can source Earth Friend’s data and access Dave’s catalog. There are then problems of stock synchronicity (problems of errors due to delays in stock updates), data reliability and security.
                <br>
                <br>            
                The solution: <b>interoperability.</b> What is it ? It’s pretty awesome. To avoid complicating operations when the same product is distributed on several platforms, they must communicate effectively.<br> IWe are not talking about synchronization or data exchange, simply cross-display of data that can be hosted on any database. The data is not replicated, just displayed, from the information directly drawn from the source database.
                </p>

                </article>
         
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row text-center">
                 <h4 class="service-heading">The advantages of interoperability</h4>
                 <br>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Economy</h4>
                    <p class="text-muted"> Time saving in data input and reliability of information regarding the availability of products in real time (stock). Producers and platforms can focus on their core business, production and sales. Interoperability also facilitates the implementation of new commercial relationships, sometimes complicated due to the incompatibility of tools.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Environment</h4>
                    <p class="text-muted">An easier data sharing mechanism can facilitate transport pooling, answering both logistic and environmental stakes, two major issues in food distribution in general and particularly in short supply chains.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social</h4>
                    <p class="text-muted"> By promoting cooperation among actors in the food chain, interoperability strengthens links and synergies within the ecosystem. This allows us, beyond the services and models offered by every actor, to work together to build an open and transparent food system that promotes the emancipation of both producers and eaters.
                   </p>
                </div>
                </div>


               
            </div>
        
    </section>
    <!-- About Section -->
    <section id="goals" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Goals</h2>
                    <h3 class="section-subheading text-muted"><b>Data interoperability : human beings et the heart of digital platforms.</b></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <i class="fa fa-database " aria-hidden="true"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">1. Catalog</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Avoid multiple entries in producer catalogs, simply be able to connect to an existing catalog on another platform</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                               <i class="fa fa-table " aria-hidden="true"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  
                                    <h4 class="subheading">2. Orders</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Make orders clear, easily understood by producers regardless of the management tool used</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <i class="fa fa-exchange " aria-hidden="true"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">3. Communication</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Communication between buyers and producers should be flawless.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <i class="fa fa-truck " aria-hidden="true"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                 
                                    <h4 class="subheading">4. Transport</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The information to communicate to transport services should be clear and easily accessible (links with logistic platforms)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <i class="fa fa-desktop " aria-hidden="true"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                 
                                    <h4 class="subheading">5. Choose the right tool</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The producer should be able to choose the tool that best fits his needs for production and sales management, whether in limited quantity or not, through the food hub of his choice.</p>
                        </div></div></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="container container-tight" style="text-align: justify">
                 <h3 class="service-heading text-center"><b>How?</b></h3>
            <p>
                To implement the interoperability and allow products managed in the database of "Earth Friends” to be displayed in the online shop of "Eastern Farmers", these two actors must agree on a standard to describe products. The standard can be seen as a set of essential data that must exist to allow another platform to call this data.</p>
            <p>
                If food data meets a common standard, it is then possible to develop an "food system connector" to allow the data to circulate. This "connector" will take the form of an API (Applications Programming Interface).</p>
            <p>
                Data Food Consortium brings together representatives of various platforms and supply chain networks around the table to define <b>together the taxonomy and standards</b> on which we can build this interoperability and thus connect the different initiatives.</p>
        </div>

    </section>

    <!-- Team Section -->
    <section id="team">
        <div class="container text-center">
            <h2 class="section-heading">Around the table</h2>
            <h3 class="section-subheading text-muted">Members of the Consortium</h3>
             <br>
            <br>
            <ul class="list-inline clearfix">
                {% for membre in site.membres %}
                    <li class="membre">
                        <a href="{{ membre.website }}" target="_blank"><img src="{{ site.baseurl }}{{ membre.img }}" class="img-responsive img-team" alt="{{membre.title}}"></a></li>
                {% endfor %}
            </ul>
            <br>
            <h3 class="section-subheading text-muted">Facilitator partner</h3>
           <ul class="list-inline clearfix">
                    <li class="membre">
                      <a href="https://www.virtual-assembly.org/" target="_blank"><img src="{{ site.baseurl }}/img/membres/av.jpg" class="img-responsive" alt="assemblee_virtuelle"></a></li>
            </ul>
    
        </div>
            
        
    </section>
 <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact us</h2>
                    <br>
                </div>
            </div>
    

            <div class="row">
              <div class="col-lg-12">
                  <form name="sentMessage" id="contactForm" action="http://mailthis.to/datafoodconsortium" novalidate method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="Name *" id="name" name="nom" required data-validation-required-message="Please write your name">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="email" class="form-control" placeholder="Email address *" id="email" name="email" required data-validation-required-message="Please enter your email address">
                                <p class="help-block text-danger"></p>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <textarea class="form-control" placeholder="Message *" id="message" name="message" required data-validation-required-message="Please write your message here"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                          
                            <input type="hidden" name="_replyto" value="%email" id="_replyto">
                            <input type="hidden" name="_subject" value="Message pour Data Food Consortium" id="_subject">
                            <!--  <input type="hidden" name="cc[]" value="arthur.koenig@hec.ca">
                            <input type="hidden" name="cc[]" value="turkoenig@hotmail.com"> -->
                            <button type="submit" class="btn btn-xl" value="Send">Send</button>
                        </div>
                    </div>
                  </form>
              </div>
          </div>
 
    </section>