  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright"></span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <br>
            <br>
            <div class="text-center" style="font-size: 11px; color: #666666">
              Mentions légales  <br>
Ce site est porté par un consortium dont la responsabilité légale est assumée aujourd'hui par l'Association loi 1901 Open Food France,
domiciliée chez Volumes Coworking, 78 rue Compans, 75019 Paris. N°RNA : W751236936 - Contact: hello@datafoodconsortium.org - Directeur de la publication: Myriam Bouré - Coordonnées de l'hébergeur du site: OVH, 2 rue Kellermann - 59100 Roubaix - France - Tel: 1007
            </div>
        </div>
    </footer>
