<!-- Team Section -->
    <section id="team" >
        <div class="container text-center">
                    <h2 class="section-heading">Autour de la table</h2>
                    <h3 class="section-subheading text-muted">Membres du consortium</h3>
            
            <ul class="list-inline clearfix">
                {% for membre in site.membres %}
                    <li class="membre">
                        <a class="website-link" href="{{ membre.website }}" target="_blank"><img src="{{site.baseurl}}/{{membre.img}}" class="img-responsive img-team" alt=""></a></li>
                {% endfor %}
            </ul>
            </div>
            
        </div>
    </section>