<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Objectifs</h2>
                    <h3 class="section-subheading text-muted"><b>L’interopérabilité, appliquée aux circuits courts, permettrait à ces initiatives de gagner grandement en efficacité de gestion.</b>
</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">1. Catalogue</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ne pas avoir à faire de multiples saisies de catalogues producteurs, pouvoir simplement se connecter à un catalogue existant sur une autre plateforme</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  
                                    <h4 class="subheading">2. Commandes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Que les commandes soient claires, facilement compréhensibles par les producteurs quel que soit l’outil de gestion utilisé</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">3. Communication</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Que les communications avec les acheteurs et les producteurs soient fluides</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                 
                                    <h4 class="subheading">4. Transport</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Que les informations à communiquer au transporteur soient claire, et disponibles en un clic (lien avec les plateformes logistiques)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                 
                                    <h4 class="subheading">5. Choix de l'outil</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Que le producteur aie l’outil adapté à son besoin pour gérer sa production et ses ventes, et qu’il puisse choisir de propager son offre, en quantité limitée ou non, via les hubs alimentaires de son choix.</p>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Comment
                                    <br>Faire ?
                                    <br><i class="fa fa-arrow-down" aria-hidden="true"></i></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
         <br>
        <br>
        <div class="container container-tight">
            <p>
        Pour mettre en oeuvre l’interopérabilité et permettre par exemple aux produits gérées dans la base de données de l'acteur X d’être affichés dans une boutique en ligne de l'acteur Y, ces deux acteurs doivent se mettre d’accord sur un standard pour décrire les produits. Le standard peut être vu comme un ensemble de données fondamentales devant être présent pour permettre l’appel de ces données par une autre plateforme.
        </p>
         <p>
            Si les données respectent un standard commun, il est alors possible de développer un “connecteur de circuits ouverts” pour permettre aux données de circuler. Ce “connecteur” prendra la forme d’une API (Applications Programming Interface).</p>
      
<p>
        Data Food Consortium réunit autour de la table des représentants des différentes plateformes et réseaux de circuits courts pour <b>définir ensemble les nomenclatures et standards</b> sur lesquels nous pouvons bâtir cette interopérabilité et connecter ainsi les différentes initiatives.
    </p>
        </div>

    </section>
