<hr>
<div class="row post-container">
  <a href="{{site.baseurl}}{{post.url}}">

    <!-- Post image -->

    <div class="col-sm-4">
      <div class="image-post" style="background: url({{site.baseurl}}/{{ post.img }}) center no-repeat; background-size: cover ; "></div>
    </div>

    <!-- Post title & subtitle -->

    <div class="col-sm-8 post-info">
      <h2>{{post.title}}</h2>
        <p class="post-subtitle">{{post.description}}</p><br>
  </a>

    <!-- Post author & share -->

        <div class="row details">
            <div class="col-xs-6">
              {% assign redacteurs = site.redacteurs | where:"title", post.auteur %}
                  {% for redacteur in redacteurs %}
                  {% assign name = redacteur.title | split:' ' | first %}
              <img class="avatar" src="{{site.baseurl}}/{{redacteur.avatar}}" alt="{{name}}">
                  <div class="post-date"><a class="blue" href="{{site.baseurl}}{{redacteur.url}}">{{redacteur.title}}</a> <br>{{ post.date | date_to_long_string }}</div>
                  {% endfor %}
            </div>
          </div>

            <div class="sharer">
                <a class="btn-share popover-html blue hvr-icon-forward" tabindex="0"> Share </a>

                    <!-- Popover content -->

                    <div class="container share-popover">
                          <a href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ site.url }}{{ post.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="btn-media twitter">
                          <i class="fa fa-twitter-square fa-2x"></i></a>
                          <a href="{{site.url}}{{post.url}}" rel="nofollow" onclick="window.open('https://www.facebook.com/sharer.php?u={{site.url}}{{post.url}}&title={{post.title}}', 'newwindow', 'width=600, height=400'); return false;" target="_blank" title="Share on Facebook" class="btn-media facebook"><i class="fa fa-facebook-square fa-2x"></i>
                          </a>
                    </div>
            </div>

        </div>
    </div>
