---
homepage: true
title: Accueil
layout: default
ref: home
lang: fr
description: Développons des standards ouverts de données pour les acteurs du système
  alimentaire

---
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img class="img-logo" src="../img/bwg.png" alt="logo"></a>
                <div class="logo-text">DATA FOOD CONSORTIUM</div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% for menu in site.t[page.lang] %}
                    <li><a class="page-scroll" href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
                    {% endfor %}
                    <li class="btn-info btn-blog"><a class="btn-blog" href="{{site.baseurl}}/blog">BLOG</a></li>

                    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                    {% for page in pages %}
                        <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
                    {% endfor %}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container-fluid -->
    </nav>


    <!-- Header -->
    <header style="background: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)), url({{ site.data.template.header.img }}) center center no-repeat; background-size: cover ; ">
        <div class="container container-intro">
            <div class="intro-text">
                <div class="intro-lead-in">Développons des standards ouverts de données pour les acteurs du système alimentaire</div>
                <a href="#enjeux" class="page-scroll btn btn-xl">Pourquoi ?</a>
            </div>

        </div>

    </header>




<!-- Enjeux Section -->
    <section id="enjeux" class="bg-light-gray">
        <div class="container container-tight">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Enjeux</h2>
                        <p>
                        Avec le développement de la foodtech, <b>de plus en plus de services s’opèrent via des outils informatisés:</b> suivi de la production, gestion des parcelles, gestion des catalogues produits, vente en ligne via des outils de e-commerce, facturation, comptabilité, etc.</p>

                        <p>
                        Aujourd’hui, <b>tous ces outils n’utilisent pas de standards communs</b>, les acteurs du système alimentaire sont donc confrontés à des nécessités de saisies multiples, à des problématiques de gestion de stocks et à de nombreuses opérations manuelles pour compenser les incapacités de <b>communication inter-plateformes. </b>
                        </p>

                        <br>
                        <br>


                            <article class="text-center">
                <h4 class="service-heading">Un exemple concret: </h4>
                <br>
                <p style="font-style: italic ; text-align: left"> Un maraîcher, Marcel, vend ses légumes à un groupement d'achat <b>"Copains Terre"</b> qui dispose d'une plateforme web (site internet), sur laquelle Marcel gère son catalogue de produits en ligne.
                <br>
                Imaginons maintenant qu'un groupement d'achat <b>"Amis des Champs"</b> souhaite aussi distribuer les produits de Marcel via sa propre plateforme web
                <br>
                Comment Amis des Champs accède-t-il au catalogue de Marcel ? Aujourd'hui, les solutions sont loin d'être idéales:
                <br>
                1 - Marcel doit saisir les mêmes données sur la plateforme de Copains Terre et d'Amis des Champs, le menant à une perte de temps et une gestion des stocks et des commandes compliquées.
                <br>
                2 - Amis des Champs peut se baser sur le catalogue disponible chez Copains Terre. Se posent alors des problématiques de synchronicité du stock (problèmes d’erreurs dues à des synchronisations non instantanées), de fiabilité des données, ainsi que de sécurité.
                <br>
                <br>
                La solution : <b>l'interopérabilité.</b> Plaît-il ? En fait, c'est très simple : pour éviter de compliquer les opérations lorsqu'un même produit est distribué sur plusieurs plateformes, il faut qu'elles communiquent entre elles de manière efficace. <br> Il ne s’agit pas de synchronisation ni d’échanges de données, il s’agit d’affichage croisés de données qui peuvent être hébergées sur n’importe quelle base de données. La donnée n’est pas répliquée, juste affichée, à partir de l’information directement puisée dans la base de donnée source.
                </p>

                </article>

                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row text-center">
                 <h4 class="service-heading">Les avantages de l'interopérabilité </h4>
                 <br>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Économique</h4>
                    <p class="text-muted"> Gain de temps dans la saisie des informations (fin des saisies multiples) et fiabilisation des informations concernant la disponibilité des produits en temps réel (stock). Les producteurs et les plateformes peuvent se concentrer sur leurs coeurs de métier, la production et la vente. L'interopérabilité facilite aussi la mise en place de nouvelles coopérations commerciales, parfois rendues compliquées pour cause d'incompatibilité d'outils. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Écologique</h4>
                    <p class="text-muted">Un partage plus facile des données peut amener à une mutualisation des transports, répondant à la fois à des enjeux logistiques et écologiques, deux questions majeures dans la distribution alimentaire en général et particulièrement en circuit court. </p>
                </div>
                <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
                  </span>
                    <h4 class="service-heading">Social</h4>
                    <p class="text-muted"> En favorisant la coopération entre acteurs de la chaîne alimentaire, l'interopérabilité renforce les coopérations au sein de l'écosystème et les synergies entre acteurs. Cela nous permet, au delà des services et modèles proposés par chacun, d'oeuvrer ensemble à la construction d'un système alimentaire ouvert, transparent, et permettant l'émancipation aussi bien des producteurs que des mangeurs.
                   </p>
                </div>
                </div>



            </div>

    </section>
    <!-- objectifs Section -->
    <section id="objectifs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Objectifs</h2>
                    <h3 class="section-subheading text-muted"><b>L'interopérabilité des données : au coeur des plateformes, des humains.</b>
</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <i class="fa fa-database " aria-hidden="true"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">1. Catalogue</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Eviter les saisies multiples de catalogues producteurs, pouvoir simplement se connecter à un catalogue existant sur une autre plateforme</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                               <i class="fa fa-table " aria-hidden="true"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">2. Commandes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Que les commandes soient claires, facilement compréhensibles par les producteurs quel que soit l’outil de gestion utilisé</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <i class="fa fa-exchange " aria-hidden="true"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">3. Communication</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Que les communications avec les acheteurs et les producteurs soient fluides</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <i class="fa fa-truck " aria-hidden="true"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">4. Transport</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Que les informations à communiquer au transporteur soient claires, et disponibles en un clic (lien avec les plateformes logistiques)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <i class="fa fa-desktop " aria-hidden="true"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">5. Choix de l'outil</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Que le producteur aie accès à un outil adapté à son besoin pour gérer sa production et ses ventes, et qu’il puisse propager son offre, en quantité limitée ou non, via les hubs alimentaires de son choix.</p>
                        </div></div></li>

                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
         <br>
        <br>
        <div class="container container-tight" style="text-align: justify">
             <h3 class="service-heading text-center"><b>Comment faire ?</b></h3>
            <p>
        Pour mettre en oeuvre l’interopérabilité et permettre par exemple aux produits gérées dans la base de données de "Copains Terre" d’être affichés dans une boutique en ligne de "Amis Des Champs", ces deux acteurs doivent se mettre d’accord sur un standard pour décrire les produits. Le standard peut être vu comme un ensemble de données fondamentales devant être présents pour permettre l’appel de ces données par une autre plateforme.
        </p>
         <p>
            Si les données respectent un standard commun, il est alors possible de développer un “connecteur de circuits ouverts” pour permettre aux données de circuler. Ce “connecteur” prendra la forme d’une API (Applications Programming Interface).</p>

<p>
        Data Food Consortium réunit autour de la table des représentants des différentes plateformes et réseaux de circuits courts pour <b>définir ensemble les nomenclatures et standards</b> sur lesquels nous pouvons bâtir cette interopérabilité et connecter ainsi les différentes initiatives.
    </p>
        </div>

    </section>

    <!-- Achievements Section -->
    <section id="achievements" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Réalisations</h2>
                    <h3 class="section-subheading text-muted"><b>Nos productions collectives</b></h3>
                </div>
            </div>
        </div>
        <br>
        <div class="container container-tight" style="text-align: justify">
            <p>
                Vous pouvez suivre l'évolution du projet via <a href="http://datafoodconsortium.org/blog/">le blog</a> et <a href="https://github.com/orgs/datafoodconsortium/projects/1">la page projet github</a></p>
            <p>
                Nous avons documenté <a href="https://datafoodconsortium.gitbook.io/dfc-standard-documentation/">dans ce manuel</a> la specification complète du standard, nous la mettrons à jour au fur et à mesure de l'avancement.</p>
            <p>
                Vous pouvez aussi accéder ici [ajouter les liens] aux fichiers de l'ontologie versions "machines".</p>
        </div> 
    </section>

    <!-- Team Section -->
    <section id="team">
        <div class="container text-center">
            <h2 class="section-heading">Autour de la table</h2>
            <h3 class="section-subheading text-muted">Membres du consortium</h3>
             <br>
            <br>
            <ul class="list-inline clearfix">
                {% for membre in site.membres %}
                    <li class="membre">
                        <a href="{{ membre.website }}" target="_blank"><img src="{{ site.baseurl }}/{{ membre.img }}" class="img-responsive img-team" alt="{{membre.title}}"></a></li>
                {% endfor %}
            </ul>
            <br>
            <h3 class="section-subheading text-muted">Partenaires facilitateurs</h3>
           <ul class="list-inline clearfix">
                    <li class="membre">
                      <a href="https://www.virtual-assembly.org/" target="_blank"><img src="{{ site.baseurl }}/img/membres/av.jpg" class="img-responsive" alt="assemblee_virtuelle"></a></li>
                    <li class="membre">
                      <a href="https://www.gs1.fr/" target="_blank"><img src="{{ site.baseurl }}/img/GS1_France_Large_RGB_2014-12-17.jpg" class="img-responsive" alt="GS1"></a></li>
            </ul>
          <br>
          <h3 class="section-subheading text-muted">Funding partners</h3>
           <ul class="list-inline clearfix">
             <li>
                      <a href="https://www.fondationcarasso.org/" target="_blank"><img src="{{ site.baseurl }}/img/LOGOTYPE-Partenaires-Principal_F-Carasso_FR_RVB2.jpg" class="img-responsive" alt="Fondation Daniel & Nina Carasso"></a></li>
          	 <li>
                      <a href="https://www.iledefrance.fr/" target="_blank"><img src="{{ site.baseurl }}/img/Logo-quadri-couleur.jpg" class="img-responsive" alt="Region Ile-de-France"></a></li>
            </ul>
        </div>


    </section>
  <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact : hello[a]datafoodconsortium.org</h2>
                    <br>
                </div>
         	  </div>
            </div>
  </section>

      <div class="text-center">
        <br>
      <h4>Les dernières nouvelles du consortium</h4>
      <br>
        <a href="{{site.baseurl}}/blog" class="btn btn-info btn-lg">BLOG</a>
      </div>