<!DOCTYPE html>
<html lang="{{page.lang}}">

  {% include head.html %}
  {% include header-blog.html %}

    <body>

      <div class="container text-center blog container-post">

          <div class="intro-blog intro-author">
          <a href="{{site.baseurl}}/blog"><h4>The official blog of the Data Food Consortium</h4></a>
          </div>

              <!-- Author's info -->
            <div class="well">
                <section class="small">
                  <div class="row">

                      <div class="col-sm-6">
                          <img class="avatar-big" src="{{site.baseurl}}/{{page.avatar}}" alt="{{page.title}}">
                      </div>

                      <div class="col-sm-6">

                          <div class="author-name">{{page.title}} <br>
                            <div class="social-buttons">

                              {% for item in page.social %}
                                <a href="{{item.url}}" target="_blank"><i class="fa fa-{{item.name}}" aria-hidden="true"></i></a>
                              {% endfor %}

                            </div>
                          </div>
                      </div>

                  </div>
                </section>

                <section class= "small">
                  <p>{{page.description}} </p>
                  <br>
                </section>
            </div>
<br>
<br>
        </div>

        <!-- Search Box -->

        <section class="small">
          <div class="container-search-author">
                <div class="input-group">
                    <input type="text" id="search-input" class="form-control" placeholder="Rechercher un article...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    </span>
                  <!-- /.input-group -->
                </div>
                <ul class= "list-unstyled search-list" id="results-container"></ul>
            </div>
          </section>

        <!-- author's post list -->

        <div class="container text-center blog">

            {% assign my_posts = site.posts | where:"auteur", page.title %}
            {% for post in my_posts %}

                {% include post-list.html %}

            {% endfor %}
            <hr>


      </div>



    {% include footer.html %}
    {% include js-blog.html %}

    </body>
</html>
